/* Stylesheet */



/* Help Class to Show Grid */
p {
	font-family: 'Alegreya', serif;
}

.showgrid {
	background: url("../img/12-col-grid.gif") !important;
}

footer {
	background: teal;
}

section {
	background: gray;
}

